[submodule "Subsystems"]
	path = subsystems
	url = https://github.com/BinghamtonRover/Subsystems
[submodule "Autonomy"]
	path = autonomy
	url = https://github.com/BinghamtonRover/Autonomy
[submodule "opencv_ffi"]
	path = opencv_ffi
	url = https://github.com/Levi-Lesches/opencv_ffi
[submodule "Video"]
	path = video
	url = https://github.com/BinghamtonRover/Video
[submodule "Protobuf"]
	path = burt_network/Protobuf
	url = https://github.com/BinghamtonRover/Protobuf
